@use '../../../styles/tokens' as *;

.card {
  background-color: white;
  border-radius: $radius-lg;
  
  &--shadow {
    box-shadow: $shadow-md;
  }
  
  &--padding-small {
    padding: $spacing-sm;
  }
  
  &--padding-medium {
    padding: $spacing-md;
  }
  
  &--padding-large {
    padding: $spacing-lg;
  }
}
