@use '../../styles/tokens' as *;
@use '../../styles/mixins' as *;

.voting {
  &__title {
    font-size: $font-size-2xl;
    color: white;
    text-align: center;
    margin-bottom: $spacing-md;
  }
}
