@import '../../../styles/tokens';

.stepper {
  margin: $spacing-lg 0;
  
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: $spacing-md;
  }
}
