@import '../../../styles/tokens';

.alert {
  padding: $spacing-md $spacing-lg;
  border-radius: $radius-md;
  font-size: $font-size-lg;
  font-weight: 500;
  text-align: center;
  margin: $spacing-md 0;
  
  &--success {
    background-color: lighten($color-success, 40%);
    color: darken($color-success, 20%);
    border: 2px solid $color-success;
  }
  
  &--warning {
    background-color: lighten($color-warning, 35%);
    color: darken($color-warning, 25%);
    border: 2px solid $color-warning;
  }
  
  &--error {
    background-color: lighten($color-error, 40%);
    color: darken($color-error, 10%);
    border: 2px solid $color-error;
  }
  
  &--info {
    background-color: lighten($color-primary, 45%);
    color: darken($color-primary, 10%);
    border: 2px solid $color-primary;
  }
}
