@use 'sass:color';
@use '../../../styles/tokens' as *;

.alert {
  padding: $spacing-md $spacing-lg;
  border-radius: $radius-md;
  font-size: $font-size-lg;
  font-weight: 500;
  text-align: center;
  margin: $spacing-md 0;
  
  &--success {
    background-color: color.scale($color-success, $lightness: 60%);
    color: color.scale($color-success, $lightness: -60%);
    border: 2px solid $color-success;
  }
  
  &--warning {
    background-color: color.scale($color-warning, $lightness: 66%);
    color: color.scale($color-warning, $lightness: -53%);
    border: 2px solid $color-warning;
  }
  
  &--error {
    background-color: color.scale($color-error, $lightness: 81%);
    color: color.scale($color-error, $lightness: -30%);
    border: 2px solid $color-error;
  }
  
  &--info {
    background-color: color.scale($color-primary, $lightness: 87%);
    color: color.scale($color-primary, $lightness: -30%);
    border: 2px solid $color-primary;
  }
}
