@use '../../styles/tokens' as *;

.winner {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
  align-items: center;

  &__summary {
    width: 100%;
    margin-top: $spacing-lg;
  }

  &__summary-title {
    font-size: $font-size-lg;
    font-weight: $font-weight-medium;
    margin-bottom: $spacing-md;
    text-align: center;
  }
}
